<a href="https://colab.research.google.com/github/akheel143/power_plant_energy_prediction/blob/main/power_plant_energy_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
src=files.upload()

Saving power_plant_TRAIN.csv to power_plant_TRAIN.csv

In [3]:
import pandas as pd

In [5]:
data=pd.read_csv('power_plant_TRAIN.csv')

In [6]:
data.head()

      AT      V       AP     RH      PE
0  22.85  60.29  1017.29  61.92  448.58
1  11.75  35.76  1018.99  57.92  473.01
2  12.24  44.90  1020.31  82.22  464.25
3  13.43  40.10  1015.82  87.90  471.77
4   4.65  35.19  1018.23  94.78  489.36

In [7]:
data.isnull().sum()
data.dtypes

AT    float64
V     float64
AP    float64
RH    float64
PE    float64
dtype: object

In [8]:
data.describe()

                AT            V           AP           RH           PE
count  8000.000000  8000.000000  8000.000000  8000.000000  8000.000000
mean     19.677299    54.302629  1013.235534    73.260477   454.310364
std       7.448395    12.687358     5.920858    14.588452    17.056199
min       2.340000    25.360000   993.110000    25.560000   420.260000
25%      13.510000    41.740000  1009.070000    63.340000   439.727500
50%      20.320000    52.080000  1012.950000    74.880000   451.495000
75%      25.770000    66.540000  1017.190000    84.700000   468.400000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [9]:
data_X=data.drop('PE',axis=1)

In [10]:
data_X

         AT      V       AP     RH
0     22.85  60.29  1017.29  61.92
1     11.75  35.76  1018.99  57.92
2     12.24  44.90  1020.31  82.22
3     13.43  40.10  1015.82  87.90
4      4.65  35.19  1018.23  94.78
...     ...    ...      ...    ...
7995  18.74  45.09  1014.24  41.54
7996  15.43  40.89  1010.63  73.03
7997  12.36  52.75  1026.04  68.71
7998  25.98  73.18  1012.28  85.78
7999   9.08  42.49  1010.67  85.35

[8000 rows x 4 columns]

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scale=StandardScaler()
X=scale.fit_transform(data_X)
X

array([[ 0.42598433,  0.47194583,  0.68481964, -0.77740849],
       [-1.06436274, -1.46159574,  0.97195815, -1.0516151 ],
       [-0.99857265, -0.74114854,  1.19491275,  0.61419009],
       ...,
       [-0.98246079, -0.1223837 ,  2.16273843, -0.31194276],
       [ 0.84623535,  1.48798133, -0.16139443,  0.85823397],
       [-1.42285163, -0.93111328, -0.43333149,  0.82875676]])

In [13]:
y=data.PE

In [14]:
y

0       448.58
1       473.01
2       464.25
3       471.77
4       489.36
         ...
7995    456.25
7996    468.35
7997    465.14
7998    439.73
7999    481.46
Name: PE, Length: 8000, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [17]:
x_train,y_train
x_train.astype('int32')
y_train.astype('int32')

6225    447
5986    448
5329    438
2049    445
7286    437
       ...
6202    484
85      457
3089    485
6380    431
2386    477
Name: PE, Length: 6400, dtype: int32

In [19]:
from sklearn.ensemble import RandomForestRegressor
ens=RandomForestRegressor(n_estimators=100,criterion='mae')
ens.fit(x_train,y_train)
ens.score(x_train,y_train)

0.9941570092808512

In [20]:
ens.score(x_test,y_test)

0.9492274902895736

In [33]:
y_pred=ens.predict(x_test)
difference_prediction=y_test-y_pred
difference_prediction.max(),difference_prediction.min(),difference_prediction.mean()

(20.550699999999722, -41.61585000000014, -0.10956203124999714)

In [34]:
difference_prediction

1202    2.23360
3964   -3.47080
2229    1.17625
3988    0.73140
378     1.17470
         ...
4300    1.19760
6346   -3.39380
5240   -0.80510
332    -3.37800
7805    8.78810
Name: PE, Length: 1600, dtype: float64